<!-- Footer extraído do template porto_seguros_layout.html -->
<section class="w3l-market-footer">
  <div style="font-size: 12px;text-align: center;line-height: 14px;padding: 30px 20px;background: #fff;">
    <div class="container">
      SIMULAR CORRETORA E ADMINISTRADORA DE SEGUROS LTDA, CNPJ nº 12380316000135, encontra-se registrada na SUSEP, sob o nº 212113570, para atuar na atividade de corretagem de seguros referente aos produto de -  SEGUROS DE PESSOAS -  PLANOS DE PREVIDÊNCIA COMPLEMENTAR -  SEGUROS DE DANOS -  MICROSSEGUROS - PLANOS DE CAPITALIZAÇÃO - A sociedade encontra-se com cadastro Ativo.
    </div>
  </div>
  <footer class="footer-28" style="background:#005a8d;">
    <div class="footer-bg-layer">
      <div class="container py-lg-3">
        <div class="row footer-top-28">
          <div class="col-md-2 footer-list-28 mt-5">
            <img src="./porto_seguro_files/uma-parceria-porto.png" style="height:auto;max-width: 100%;" alt="Porto Seguro">
          </div>
          <div class="col-md-1 footer-list-28 mt-5 d-none d-md-block"></div>
          <div class="col-md-5 footer-list-28 mt-5">
            <h6 class="footer-title-28" style="color:#00a1fc;">Entre em contato</h6>
            <ul>
              <li>
                <p><strong>Telefone:</strong>: <a href="telefone.html">(11) 4224-1918</a></p>
              </li>
              <li>
                <p><strong>WhatsApp</strong>: <a href="whatsapp.html">(11) 94720-2131</a></p>
              </li>
              <li>
                <p><strong>E-mail</strong>: <a href="mailto:contatoautoporto@simularseguros.com">contatoautoporto@simularseguros.com</a></p>
              </li>
              <li>
                <p><strong>Política de monitoramento</strong>: <a href="politica.html">Confira nossa Política de monitoramento</a></p>
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer-list-28 mt-5">
            <img src="./porto_seguro_files/logo-home-portoseguro.png" style="height:auto;max-width: 100%;" alt="Simular e Porto Seguro">
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>