<section class="w3l-market-footer">
  <div style="font-size: 12px;text-align: center;line-height: 14px;padding: 30px 20px;background: #fff;">
    <div class="container">
      TRANSPORTADORA RÁPIDO E SEGURO LTDA, CNPJ nº 00.000.000/0001-00, empresa registrada para atuar no transporte de cargas em todo o território nacional. Todas as operações seguem as normas da ANTT e legislação vigente.
    </div>
  </div>
  <footer class="footer-28" style="background:#005a8d;">
    <div class="footer-bg-layer">
      <div class="container py-lg-3">
        <div class="row footer-top-28">
          <div class="col-md-2 footer-list-28 mt-5">
            <img src="./porto_seguro_files/uma-parceria-porto.png" style="height:auto;max-width: 100%;" alt="Logo Transportadora">
          </div>
          <div class="col-md-1 footer-list-28 mt-5 d-none d-md-block"></div>
          <div class="col-md-5 footer-list-28 mt-5">
            <h6 class="footer-title-28" style="color:#00a1fc;">Entre em contato</h6>
            <ul>
              <li>
                <p><strong>Telefone:</strong> <a href="#">(11) 4000-1234</a></p>
              </li>
              <li>
                <p><strong>WhatsApp:</strong> <a href="#">(11) 90000-1234</a></p>
              </li>
              <li>
                <p><strong>E-mail:</strong> <a href="mailto:contato@transportadora.com">contato@transportadora.com</a></p>
              </li>
              <li>
                <p><strong>Política de Privacidade:</strong> <a href="#">Confira nossa Política</a></p>
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer-list-28 mt-5">
            <img src="./porto_seguro_files/logo-home-portoseguro.png" style="height:auto;max-width: 100%;" alt="Logo da Empresa">
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>