<!-- Header extraído e adaptado do template porto_seguros_layout.html -->
<div class="w3l-bootstrap-header fixed-top">
  <nav id="topo" class="navbar navbar-expand-lg navbar-light p-2">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="./porto_seguro_files/logoSimular-Azul.png" style="height:50px;" alt="Simular Seguros e Porto Seguro" title="Simular Seguros e Porto Seguro">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" style="margin-left: auto;">
          <li class="nav-item">
            <a class="nav-link" href="dashboard.html">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="perfil.html">Meu Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Sair</a>
          </li>
        </ul>
        <div class="form-inline">
          <a href="whatsapp.html" target="_blank" class="btn btn-primary btn-theme" aria-label="WhatsApp">
            <i class="fa fa-whatsapp"></i>
          </a>
          <a href="telefone.html" target="_blank" class="btn btn-primary btn-theme" style="color:#000;border-color:#00a1fc;" aria-label="Telefone">
            <i class="fa fa-phone"></i>
          </a>
        </div>
        <div class="form-inline">
          <img src="./porto_seguro_files/uma-parceria-porto.jpg" style="max-height:24px;max-width:100%;" alt="Porto" title="Porto">
        </div>
      </div>
    </div>
  </nav>
</div>